*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: auto;
    background-image: url("/public/img/slider2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.conn{
    background-color: rgba(0,0,0,0.65);
    color: white;
    padding-top: 130px;
    /* margin-bottom: -30px; */
}
.hedings ul li{
    list-style: none;
    font-size: 15px;
    text-align: start;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    align-items: center;
}
.hedings ul {
    line-height: 12px;
    align-items: center;
}
.hedings{
    margin: 0px auto;
    align-items: center;
}

